<html>

<head>
    <title>搭配记录</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/collocation_record.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">搭配记录</h1>
    </header>
    <div class="mui-content">
        <!-- 规格信息图表 -->
        <div style="width: 95%;margin-left: auto;margin-right: auto;">
            <div class="kkk">
                <div class="mui-row">
                    <div class="mui-col-xs-3 mui-col-sm-3">
                        <img src="../images/grbg.png" alt="" width="50px" height="50px">
                    </div>
                    <div class="mui-col-xs-9 mui-col-sm-9">
                        <p>特邀导师:Mr Jary</p>
                        <p>( <a>查看</a> ) ( <a>总结</a> ) ( <a>跟进记录</a> )</p>
                    </div>
                </div>
                <div class="mui-row">
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <p>搭配数量</p>
                        <p>22</p>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <p>搭配数量</p>
                        <p>22</p>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <p>搭配数量</p>
                        <p>22</p>
                    </div>

                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <p>搭配金额</p>
                        <p>22</p>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <p>成交金额</p>
                        <p>22</p>
                    </div>
                    <div class="mui-col-xs-4 mui-col-sm-4">
                        <p>搭配率</p>
                        <p>22</p>
                    </div>
                </div>
                <div class="mui-row">
                    <p>创建时间:2021年2月23日13:55:16</p>
                    <p>修改时间:2021年2月23日13:55:16</p>
                    <p>修改时间:2021年2月23日13:55:16</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src=""></script>

</html>