<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../fonts/iconfont_centent.css">
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <script src="../mui/js/mui.picker.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/loading.css">
    <script src="../js/loading.js"></script>
    <link rel="stylesheet" href="../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/all_popup.css">
    <link rel="stylesheet" href="../list/all_css/CRM_marketing.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">CRM管理</h1>
    </header>
    <div class="mui-content">
        
     
        <div class="mui-row" style="width: 90%; margin-left: auto;margin-right: auto;padding: 20px 0 20px 0;">
            <div class="div_small_y crm_pp"></div>
            <div class="div_small_y crm_pp2"></div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./crm_consumption_portrait.html">
                        <span class="iconfont icon-xiaofei1   span_size"></span>
                        <p>消费画像</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./wx_condition_group.html">
                        <span class="iconfont icon-huaxiang1  span_size"></span>
                        <p>顾客画像</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./product_portrait.html">
                        <span class="iconfont icon-yonghuhuaxiang   span_size"></span>
                        <p>产品画像</p>
                    </a>
                </li>
            </div>

            <div class="mui-col-xs-12 mui-col-sm-12">
                <div class="div_small_x"></div>
                <br>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./Intelligent_collocation.html">
                        <span class="iconfont icon-dapeituijian    span_size"></span>
                        <p>智能搭配</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./refund_plan.html">
                        <span class="iconfont icon-renwujihua1   span_size"></span>
                        <p>返单计划</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./interactive_program.html">
                        <span class="iconfont icon-hudong   span_size"></span>
                        <p>互动计划</p>
                    </a>
                </li>
            </div>
        </div> 
</body>
<script src="../list/all_js/CRM_marketing.js"></script>

</html>