<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../mui/css/mui.min.css">
	<script src="../mui/js/mui.min.js"></script>
	<script src="../js/echarts.min.js"></script>
	<link rel="stylesheet" href="../mui/css/mui.dtpicker.css">
	<link rel="stylesheet" href="../mui/css/mui.picker.min.css">
	<link rel="stylesheet" href="../css/loading.css">
	<script src="../mui/js/mui.dtpicker.js"></script>
	<script src="../mui/js/mui.picker.min.js"></script>
	<script src="../js/jquery.min.js"></script>
		<script src="../list/all_js/all.js"></script>
	<link rel="stylesheet" href="../list/all_css/all_bj.css">
	<link rel="stylesheet" href="../list/all_css/all_popup.css">
	<link rel="stylesheet" href="../list/all_css/table.css">
	<link rel="stylesheet" href="../list/all_css/DAT_query.css">
</head>

<body class="suoke">
	<!-- 头部 -->
	<header class="mui-bar mui-bar-nav  white_color suoke_header">
		<a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
		<h1 class="mui-title white_color" id="dat_title">员工绩效</h1>
	</header>
	<div class="mui-content">
		<div id="cover"></div>
		<div id="wuxian" class="jqban display_none">
			<ul id="treeDemo" class="ztree"></ul>
		</div>
		<div class="mui-scroll-wrapper" style="top: 44px;">
			<div class="mui-scroll" id="">
				<!--这里放置真实显示的DOM内容-->
				<div>
					<table class="gridtable sees">
						<tr>
							<td>提成来源</td>
							<td>销售提成</td>
							<td rowspan="4"><span class="see">查看</span></td>
						</tr>
						<tr>
							<td>提成金额</td>
							<td>5000</td>
						</tr>
						<tr>
							<td>关联单号</td>
							<td>5000</td>
						</tr>
						<tr>
							<td>时间日期</td>
							<td>5000</td>
							
						</tr>
					</table>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>
<script>
	mui(".gridtable").on('tap', '.see', function () {
			location.href = "./DAT_order_details.html"
		})
	
</script>