<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../mui/css/mui.min.css">
	<script src="../mui/js/mui.min.js"></script>
	<script src="../js/echarts.min.js"></script>
	<link rel="stylesheet" href="../mui/css/mui.dtpicker.css">
	<link rel="stylesheet" href="../mui/css/mui.picker.min.css">
	<link rel="stylesheet" href="../css/loading.css">
	<script src="../mui/js/mui.dtpicker.js"></script>
	<script src="../mui/js/mui.picker.min.js"></script>
	<script src="../js/jquery.min.js"></script>
	<link rel="stylesheet" href="../js/jquery-ztree/3.5/css/simple/zTreeStyle.css">
	<link rel="stylesheet" href="../js/jquery-ztree/3.5/css/metro/zTreeStyle.css">
	<link rel="stylesheet" href="../js/jquery-ztree/3.5/css/default/zTreeStyle.css">
	<script src="../js/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
	<script src="../list/all_js/all.js"></script>
	<link rel="stylesheet" href="../list/all_css/all_bj.css">
	<link rel="stylesheet" href="../list/all_css/all_popup.css">
	<link rel="stylesheet" href="../list/all_css/table.css">
	<link rel="stylesheet" href="../list/all_css/ERP_shop.css">
</head>

<body class="suoke">
	<!-- 头部 -->
	<header class="mui-bar mui-bar-nav  white_color suoke_header">
		<a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
		<h1 class="mui-title white_color" id="dat_title">定价报表</h1>
	</header>
	<div class="mui-content">
		<div class="mui-scroll-wrapper" style="top: 44px;">
			<div class="mui-scroll" id="">
				<!--这里放置真实显示的DOM内容-->
				<div style="overflow: scroll;">
					<table class="gridtable">
						<tr>
							<td rowspan="2" style="width: 15%;">类别</td>
							<td colspan="5">销售额</td>
						</tr>
						<tr>
							<td>0-1000</td>
							<td>1000-2000</td>
							<td>2000-3000</td>
							<td>3000-4000</td>
							<td style="width: 20%;">合计</td>
						</tr>
						<tr>
							<td rowspan="">000-何石磊</td>
							<td>5000</td>
							<td>000-何石磊</td>
							<td>5000</td>
							<td>000-何石磊</td>
							<td>5000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>