<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <!-- 页面不进行缓存 -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>锁客多</title>
    <link href="./../mui/css/mui.min.css" rel="stylesheet" />
    <link href="../fonts/iconfont_centent.css" rel="stylesheet" />
    <script src="./../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="./../list/all_css/ERP_commodity.css">
</head>

<body class="suoke">
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">ERP商品</h1>
    </header>

    <!-- 中间 -->
    <div class="mui-content">
        <br>
        
        <div class="mui-row">
            <div class="div_small_y pp"></div>
            <div class="div_small_y pp2" ></div>
            <div class="div_small_y"></div>
            <div class="div_small_x xx"></div>
            <div class="div_small_x xx2"></div>
            <div class="div_small_x xx3"></div>
            <!-- //display_none -->
            <div class="mui-col-xs-3 mui-col-sm-3"> 
                <li class="mui-table-view-cell transparent">
                    <a href="./commodity_management.html">
                        <span class="iconfont icon-liebiao  span_size"></span>
                        <p>商品列表</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./portrait_expansion.html">
                        <span class="iconfont icon-huaxiang1  span_size"></span>
                        <p>画像扩展</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./institution_performance.html">
                        <span class="iconfont icon-jigouyeji   span_size"></span>
                        <p>机构业绩</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./store_performance.html">
                        <span class="iconfont icon-yeji1 span_size"></span>
                        <p>门店业绩</p>
                    </a>
                </li>
            </div>

            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./employee_performance.html">
                        <span class="iconfont icon-yuangongyeji  span_size"></span>
                        <p>员工业绩</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./data_overview.html">
                        <span class="iconfont icon-shujugailan1  span_size"></span>
                        <p>数据概览</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./ERP_shop.html">
                        <span class="iconfont icon-baobiao  span_size"></span>
                        <p>定价报表</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./sales_category_analysis.html">
                        <span class="iconfont icon-xiaoshou  span_size"></span>
                        <p>销售类别分析</p>
                    </a>
                </li>
            </div>

            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./organization_category_analysis.html">
                        <span class="iconfont icon-zuzhi2  span_size"></span>
                        <p>组织类别分析</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./organization_proportion.html">
                        <span class="iconfont icon-zhanbi  span_size"></span>
                        <p>组织类别占比</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./store_category_analysis.html">
                        <span class="iconfont icon-meitileixingzhanbi  span_size"></span>
                        <p>门店类别占比</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./proportion_stores.html">
                        <span class="iconfont icon-fenxi2  span_size"></span>
                        <p>门店类别分析</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3">
                <li class="mui-table-view-cell transparent">
                    <a href="./company_sells_well.html">
                        <span class="iconfont icon-gongsi1  span_size"></span>
                        <p>公司畅销排行</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./organization_sells_well.html">
                        <span class="iconfont icon-zuzhi  span_size"></span>
                        <p>组织畅销排行</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-3 mui-col-sm-3 ">
                <li class="mui-table-view-cell transparent">
                    <a href="./store_sells_well.html">
                        <span class="iconfont icon-mendian   span_size"></span>
                        <p>门店畅销排行</p>
                    </a>
                </li>
            </div>

        </div>
     
    </div>
</body>

</html>