<html>

<head>
    <title>家属信息</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/stored_value_record.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">家属信息</h1>
        <span style="float: right;" class="mui-icon mui-icon-plusempty" onclick="JavaScript:location.href='./family_information_add.html'"></span>
    </header>
    <div class="mui-content">
        <!-- 规格信息图表 -->
        <div id="stionTbale">
            <table class="gridtable stwidth">
                <tr>
                    <td>家属关系:</td>
                    <td>妻子</td>
                </tr>
                <tr>
                    <td>重要日子:</td>
                    <td>生日</td>
                </tr>
                <tr>
                    <td>重要事件:</td>
                    <td>2012-11-19</td>
                </tr>
                <tr>
                    <td>联系方式:</td>
                    <td>15889543557494</td>
                </tr>
                <tr>
                    <td>描述:</td>
                    <td>结论：护士与家属对于信息的主观选择形成了选择性心理干扰。即影响了家属对护士提供信息的理解也影响了护士对家属信息需求的判断。
                        CONCLUSION: The subjective choices of nurses and families of patients render a" selective
                        psychological interfere",
                        which influences both the understanding about the information provided by nurses and the
                        judgments of nurses about the
                        information demanded by the families.</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src=""></script>

</html>