<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/stored_value_record.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">跟进记录</h1>
    </header>
    <div class="mui-content">
        <!-- 规格信息图表 -->
        <div id="stionTbale">
            <table class="gridtable">
                <tr class="stwidth">
                    <td>互动主题:</td>
                    <td>情感互动</td>
                </tr>
                <tr class="stwidth">
                    <td>互动日期:</td>
                    <td>2015-12-09</td>
                </tr>
                <tr class="stwidth">
                    <td>互动方式:</td>
                    <td>电话</td>
                </tr>
                <tr class="stwidth">
                    <td>互动内容:</td>
                    <td>家园互动,从字面上理解就是家庭和幼儿园互相作用、互相影响。它幼儿教育工作的一个组成部分。家长可以参加幼儿园的日常教育活动,比如请家长听课、观看幼儿活动和幼儿一起活动等;教师到幼儿家中走访、通过电话等形式增强联系等</td>
                </tr>
            </table>

        </div>
    </div>
</body>
<script src=""></script>

</html>