<html>

<head>
    <title>等级变更</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/stored_value_record.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">等级变更</h1>
    </header>
    <div class="mui-content">
        <!-- 规格信息图表 -->
        <div id="stionTbale">
            <table class="gridtable">
                <tr>
                    <td>开卡等级:</td>
                    <td>股户籍</td>
                </tr>
                <tr>
                    <td>卡开时间:</td>
                    <td>2015-12-09</td>
                </tr>

            </table>
            <br>
            <table class="gridtable">
                <tr>
                    <td>等级变更:</td>
                    <td>大师傅</td>
                </tr>
                <tr>
                    <td>变更途径:</td>
                    <td>+5发达</td>
                </tr>
                <tr>
                    <td>变更时间:</td>
                    <td>2015-09-18</td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script src=""></script>

</html>