<html>

<head>
    <title>信息汇总</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/customer_information.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">信息汇总</h1>
    </header>
    <div class="mui-content">
        <div class="www">
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">剩余储值:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">剩余积分:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">总消费额:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">总消费数量:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">总消费次数:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">总储值金额:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">未互动天数:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">未消费天数:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
            <br>
            <div class="mui-row">
                <div class="mui-col-xs-5 mui-col-sm-5">最后购物时间:</div>
                <div class="mui-col-xs-7 mui-col-sm-7">何石磊</div>
            </div>
        </div>

    </div>
</body>
<script src="../list/all_js/information_aggregation.js"></script>

</html>