<html>

<head>
    <title>互动足迹</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/stored_value_record.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">互动足迹</h1>
    </header>
    <div class="mui-content">
        <div class="mui-row opopopop">
            <div class="mui-col-xs-2 mui-col-sm-2 chex" type="phone">电话</div>
            <div class="mui-col-xs-2 mui-col-sm-2" type="message">短信</div>
            <div class="mui-col-xs-2 mui-col-sm-2" type="wx">微信</div>
            <div class="mui-col-xs-2 mui-col-sm-2" type="view">视图</div>
            <div class="mui-col-xs-2 mui-col-sm-2" type="card">卡劵</div>
        </div>
        <br>
        <!-- 规格信息图表 -->
        <div id="pullrefresh" class="mui-scroll-wrapper" style="top:84px">
            <div class="mui-scroll">
                <div id="stionTbale">
                    <table class="gridtable">
                        <tr>
                            <td>回访方式:</td>
                            <td>消费获得</td>
                        </tr>
                        <tr>
                            <td>回访时间:</td>
                            <td>+5</td>
                        </tr>
                        <tr>
                            <td>回访内容:</td>
                            <td>电话</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
<script>

    mui(".opopopop").on('tap', '.mui-col-sm-2', function () {
        // let su = this;
         $(this).addClass('chex').siblings().removeClass('chex');  //当前元素添加样式同胞元素移除样式
        
        switch (this.getAttribute("type")) {
            case 'phone':
               
                break;
            case 'message':

                break;
            case 'wx':

                break;
            case 'view':

                break;
            case 'card':

                break;

            default:
                break;
        }

    })

    mui('.mui-scroll-wrapper').scroll({
        deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
    });

    mui.init({
        pullRefresh: {
            container: '#pullrefresh',
            up: {
                contentrefresh: '正在加载...',
                auto: false,//可选,默认false.首次加载自动上拉刷新一次
                callback: pullupRefresh
            }
        }
    });
    /**
     * 上拉加载具体业务实现
     */
    // 重新开启加载
    // mui('#pullrefresh').pullRefresh().refresh(true);
    // 分页计数
    var count = 0;
    // 分的条数
    var limit_num = 30;

    function pullupRefresh() {
        setTimeout(function () {
            mui('#pullrefresh').pullRefresh().endPullupToRefresh((count > (count / limit_num))); //参数为true代表没有更多数据了。
            console.log('加载');
        }, 1000);
    }
</script>

</html>