<html>

<head>
    <title>介绍关系</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/Introduce_the_relationship.css">
    <style>
        .mui-table-view-cell>a:not(.mui-btn) {
            white-space: inherit;
        }
    </style>
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">介绍关系</h1>
    </header>
    <div class="mui-content">
        <div style="width: 90%;margin: 0 auto;">
            <div class="jsr">介绍人</div>
            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span></p>
                            <p> <span>次数:888888</span></p>
                            <!-- <p><span>金额:888888</span> <span>次数:888888</span></p> -->
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:8</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="jsr">被介绍人</div>
            <ul class="mui-table-view transparent">
                <li class="mui-table-view-cell mui-media transparent">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
                        <div class="mui-media-body">
                            <span>成龙2</span>&nbsp;&nbsp;<span class="datas">2012-19-15</span>
                            <p class='mui-ellipsis'>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            <p><span>金额:888888</span> <span>次数:888888</span></p>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../list/all_js/Introduce_the_relationship.js"></script>

</html>