<html>

<head>
    <title>组织类别占比</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mui/css/mui.dtpicker.css">
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <script src="../mui/js/mui.dtpicker.js"></script>
    <script src="../mui/js/mui.picker.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../js/jquery-ztree/3.5/css/simple/zTreeStyle.css">
    <link rel="stylesheet" href="../js/jquery-ztree/3.5/css/metro/zTreeStyle.css">
    <link rel="stylesheet" href="../js/jquery-ztree/3.5/css/default/zTreeStyle.css">
    <script src="../js/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js"></script>
    <link rel="stylesheet" href="./../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/all_popup.css">
    <link rel="stylesheet" href="../list/all_css/data_overview.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">组织类别占比</h1>
        <span style="float: right;" class="mui-icon mui-icon-search" onclick="serahs()"></span>
    </header>
    <div class="mui-content">
        <div id="cover"></div>
        <div id="wuxian" class="jqban display_none">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
        <div id="wuxian2" class="jqban display_none">
            <ul id="treeDemo2" class="ztree"></ul>
        </div>
        <div class="mui-row all">
            <div class="mui-col-xs-6 mui-col-sm-6 ">
                总数量(88888888)
            </div>
            <div class="mui-col-xs-6 mui-col-sm-6 ">
                总金额(8888888)
            </div>
        </div>
        <div class="mui-row fenlei">
            <div class="mui-col-xs-12 mui-col-sm-12 ">男上衣:</div>
            <div class="mui-col-xs-6 mui-col-sm-6 plefts">
                <p>销售额:9999</p>
                <p>销售量:99999</p>
            </div>
            <div class="mui-col-xs-6 mui-col-sm-6 prights">
                <p>销售额占比:9999</p>
                <p>销售量占比:99999</p>
            </div>
        </div>
        <!-- 搜索 -->
        <div id="sheet3" class="suoke sheet3 mui-popover mui-popover-centers mui-popover-action"
            style="height: 100%;position: fixed;max-height: 330px !important;">
            <div class="mui-scroll-wrapper" style="bottom: 50px;">
                <div class="mui-scroll">
                    <!-- 可选择菜单 -->
                    <br>


                    <div class="mui-input-group transparent">
                        <div class="mui-input-row">
                            <label><span>商品分类:</span></label>
                            <label class="opop color_bbb labels" val="shop" onclick="classification(this)">请选择分类</label>
                        </div>
                        <div class="mui-input-row">
                            <label><span>选择组织:</span></label>
                            <label class="opop color_bbb labels" val="organization"
                                onclick="classification(this)" id="v_organization">请选择组织</label>
                        </div>
                        <div class="mui-input-row">
                            <label><span>查询方式:</span></label>
                            <label class="opop color_bbb labels" val="mode" onclick="classification(this)">请选择方式</label>
                        </div>
                        <div class="mui-input-row">
                            <label><span>开始时间:</span></label>
                            <label class="opop color_bbb labels" val="start" onclick="classification(this)">开始时间</label>
                        </div>
                        <div class="mui-input-row">
                            <label><span>结束时间:</span></label>
                            <label class="opop color_bbb labels" val="end" onclick="classification(this)">结束时间</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="div_small_y pp"></div>-->
            <p class="ppps">
                <button type="button" class="mui-btn" onclick="selects(this)">查询</button>
            </p>

        </div>
    </div>

</body>
<script src="../list/all_js/jq_tree.js"></script>
<script src="../list/all_js/new_data.js"></script>
<script src="../list/all_js/company_sells_well.js"></script>

</html>