<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../mui/css/mui.min.css">
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <script src="../mui/js/mui.js"></script>
    <script src="../mui/js/mui.picker.min.js"></script>
    <script src="../js/vconsole.js"></script>
    <script src="../js/jquery.min.js"></script>
    <!-- <script src="../js/hidden-titile.js"></script> -->
    <link rel="stylesheet" href="../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/portrait_expansion.css">
    <title>画像扩展</title>
</head>

<body  class="suoke">
    <header class="mui-bar mui-bar-nav mui-bar-nav-bg  white_color suoke_header" >
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title" style="color:white;">画像扩展</h1>
        <span style="float:right;line-height:44px;color:white;" id="show_moban">保存</span>
    </header>
    <div class="mui-content">
        <!-- 搜索 -->
       <div class="searchss transparent">
            <div class="mui-input-row mui-search search_div transparent">
                <input class="transparent" type="search" id="sesame" placeholder="请输入货号">
            </div>
            <!-- <button type="button" id="but">搜索</button> -->
       </div>
        <div class="mui-input-group transparent">
            <div class="mui-row">
                <div class="mui-col-sm-3 mui-col-xs-3">
                    <!-- 商品图片 -->
                    <input type="file" accept="image/*" multiple id="upload_picture" style="display: none;"
                        onchange="uploadImageHandle(this,0.5)">
                    <div class="upPhoto" style="text-align: center;" onclick="upphoto()">
                        <img src="../images/upT.png" alt="" height="80" width="80" id="photoUp">
                    </div>
                </div>
                <div class="mui-col-sm-9 mui-col-xs-9">
                    <div class="mui-input-row">
                        <label>商品名称:</label>
                        <input type="text" class="mui-input-clear" placeholder="商品名称">
                    </div>
                    <div class="mui-input-row">
                        <label>商品货号:</label>
                        <input type="text" class="mui-input-clear" placeholder="商品货号">
                    </div>
                    <div class="mui-input-row">
                        <label>商品售价:</label>
                        <input type="text" class="mui-input-clear" placeholder="商品售价">
                    </div>
                </div>
            </div>
        </div>


        <div class="mui-row mui-table-view transparent" style="padding-top: 15px; padding-bottom: 15px;">

            <fieldset>
                <legend>自我评价:</legend>
                <div class="checkboxStyle">
                    <div class="mui-row">
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <input type="checkbox" id="love1" name="chexkbox_test" value="阳光开朗"
                                onclick="checkboxOnclick(this)" />
                            <label for="love1">阳光开朗</label>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <input type="checkbox" id="love2" name="chexkbox_test" value="成熟稳重"
                                onclick="checkboxOnclick(this)" />
                            <label for="love2">成熟稳重</label>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <input type="checkbox" id="love3" name="chexkbox_test" value="雷厉风行"
                                onclick="checkboxOnclick(this)" />
                            <label for="love3">雷厉风行</label>
                        </div>
                        <div class="mui-col-sm-3 mui-col-xs-3">
                            <input type="checkbox" id="love4" name="chexkbox_test" value="执行力强"
                                onclick="checkboxOnclick(this)" />
                            <label for="love4">执行力强</label>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
</body>
<script src="../list/all_js/portrait_expansion.js"></script>

</html>