<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>会员列表</title>
  <link href="../mui/css/mui.min.css" rel="stylesheet" />
  <script src="../mui/js/mui.min.js"></script>
  <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
  <script src="../mui/js/mui.picker.min.js"></script>
  <link rel="stylesheet" href="../fonts/iconfont_centent.css">
  <script src="../js/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/loading.css">
  <script src="../js/loading.js"></script>
  <link rel="stylesheet" href="../list/all_css/all_bj.css">
  <link rel="stylesheet" href="../list/all_css/all_popup.css">
  <link rel="stylesheet" href="../list/all_css/membership.css">
</head>

<body class="suoke">
  <header class="mui-bar mui-bar-nav  white_color suoke_header">
    <a class="mui-icon mui-icon-back mui-action-back" style="color:white; float: left;"></a>
    <div style="float:left !important;"><span class="iconfont icon-person"></span>9999</div>
    <span style="float:right;line-height: 44px;" class="iconfont icon-qunfa1"></span>
    <h1 class="mui-title white_color" style="width: 30%; margin: 0 auto;">会员列表</h1>
  </header>
  <div class="mui-content" id="ppppp">
    <div class="mui-row rfm_row">
      <div class="mui-col-xs-6 mui-col-sm-6 rfm_all">
        <div class="rfm_all_member baocun">保存为专场营销</div>
      </div>
      <div class="mui-col-xs-6 mui-col-sm-6 rfm_all">
        <div class="rfm_all_member rfm_opop">全部会员</div>
      </div>
    </div>
    <div>
      <ul class="mui-table-view transparent secteds">
        <li class="mui-table-view-cell mui-media transparent">
          <a href="javascript:;">
            <img class="mui-media-object mui-pull-left" src="../images/suokewhite2.png">
            <div class="mui-media-body">
              幸福
              <p class='mui-ellipsis'>9999天未消费,9999天未回访</p>
            </div>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div id="sheet4" class="suoke sheet3 mui-popover mui-popover-centers mui-popover-action" style="height: 100%;position: fixed;max-height: 280px !important; width: 80%;
          left: 10%;
          border-radius: 10px;">
    <h4 style="text-align: center; color: white;padding: 10px 0px;">精准营销工具</h4>
    <div class="div_small_x"></div>
    <div class="marketing" val="duanxin"
      style="color: white;text-align: center;line-height: 40px;width: 80%;margin:10px auto;border: 1px solid rgba(255, 255, 255, 0.329);">
      短信营销</div>
    <div class="marketing" val="weixin"
      style="color: white;text-align: center;line-height: 40px;width: 80%;margin:10px auto;border: 1px solid rgba(255, 255, 255, 0.329);">
      微信营销</div>
    <div class="marketing" val="shitu"
      style="color: white;text-align: center;line-height: 40px;width: 80%;margin:10px auto;border: 1px solid rgba(255, 255, 255, 0.329);">
      视图营销</div>
    <div class="marketing" val="kajuan"
      style="color: white;text-align: center;line-height: 40px;width: 80%;margin:10px auto;border: 1px solid rgba(255, 255, 255, 0.329);">
      卡劵营销</div>
  </div>
</body>
<script>
  mui(".suoke_header").on('tap', '.icon-qunfa1', function () {
    console.log(4444);
    mui('#sheet4').popover('toggle');
  })
  mui(".secteds").on('tap', '.mui-table-view-cell', function () {
    let val = this;
    if (this.classList.contains("stars")) {
      this.classList.remove("stars")
    } else {
      this.classList.add("stars")
    }

  })
  var shop = '';
  var shops = [{
    value: "first",
    text: "会员1"
  }, {
    value: "second",
    text: "会员2"
  }]

  mui("#ppppp").on('tap', '.rfm_opop', function () {
    let val = this;
    let picker5 = new mui.PopPicker();
    picker5.setData(shops);
    picker5.pickers[0].setSelectedValue(shop, 2000);
    picker5.show(function (SelectedItem) {

      console.log(SelectedItem);
      shop = SelectedItem[0].value;
      val.innerHTML = SelectedItem[0].text;
    })
  })

  mui("#ppppp").on('tap', '.baocun', function () {
    mui.prompt('', '请输入专场营销', '专场营销', ['取消', '保存'], function (e) {
      if (e.index == 0) {

      } else if (e.index == 1) {
      }

    });


  })

    mui("#sheet4").on('tap', '.marketing', function () {
      let val = this.getAttribute("val");
      // console.log(4444);
      switch (val) {
        case 'duanxin':
          location.href = '../views/SMS_marketing.html'
          break;
        case 'weixin':
          location.href = '../views/Wechat_marketing.html'
          break;
        case 'shitu':
          location.href = '../views/View_marketing.html'
          break;
        case 'kajuan':
          location.href = '../views/Credit_marketing.html'
          break;

        default:
          break;
      }

    })
</script>

</html>