<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../mui/css/mui.css">
    <script src="../mui/js/mui.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../fonts/iconfont2/iconfont.css">
    <link rel="stylesheet" href="../list/all_css/scan_code_payment.css">
    <title>商品-支付</title>

</head>

<body class="pay">
    <div class="cover">
        <!-- <img src="images/bj.jpg" alt="活动页面"> -->
        <img src="../images/cz.jpg" alt="活动页面">
    </div>

    <div class="mui-scroll-wrapper">
        <div class="mui-row mui-scroll">
            <div class="mui-card">
                <div class="mui-card-content module_img">
                    <span class="iconfont icon-icon1"></span>
                    <h3>￥<span>1888.88</span></h3>
                </div>
            </div>
            <div class="mui-card">
                <div class="mui-card-content module_img" style="padding: 10px;">
                    <h4><span>(点击查看商品信息)</span></h4>
                </div>
            </div>
            <div class="mui-card" style="padding-bottom:15px;">
                <div class="mui-card-content discount_module">
                    <ul id="pay_list">
                        <h5>充值活动：</h5>
                        <li num="20000"><a href="">充20000.00 / <span>得20888.00</span> <span
                                    class="iconfont icon-duigou"></span></a></li>
                        <li num="10000"><a href="">充10000.00 / <span>得15000.00</span> <span
                                    class="iconfont icon-duigou"></span></a></li>
                        <li num="1000"><a href="">充1000.00 / <span>得1285.00</span> <span
                                    class="iconfont icon-duigou"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="mui-card" style="margin-bottom: 220px;padding-bottom:15px;">
                <div class="mui-card-content discount_module">
                    <ul id="pay_gift">
                        <h5>充值有礼：</h5>
                        <li money="20000">充20000 <span class="iconfont icon-yuanxing sicon"></span> <span>得20058</span>
                        </li>
                        <li money="10000">充10000 <span class="iconfont icon-yuanxing sicon"></span> <span>得10058</span>
                        </li>
                        <li money="1000">充1000 <span class="iconfont icon-yuanxing sicon"></span> <span>得1058</span>
                        </li>
                        <li money="150">充150 <span class="iconfont icon-yuanxing sicon"></span> <span>得158</span></li>
                        <li money="100">充100 <span class="iconfont icon-yuanxing sicon"></span> <span>得128</span></li>
                        <li money="50">充50 <span class="iconfont icon-yuanxing sicon"></span> <span>得58</span></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action">
        <div class="mui-scroll-wrapper">
            <div class="mui-scroll detailed">
                <div class="img_title"><img src="../images/sj.png" alt="指引"></div>
                <h2>双十二购物狂欢节, 全民抢实惠</h2>
                <div class="welfare">
                    <p>赠积分</p>
                    <div class="welfare_span">1000积分<div class='box'></div>
                    </div>
                </div>
                <div class="welfare">
                    <p>赠卡券</p>
                    <div class="welfare_span">购物满199减100，代金券1张<div class='box'></div>
                    </div>
                </div>
                <div class="welfare_deta">
                    <p>详情</p>
                    <p>双十二代金券2张，元旦代金券1张，新年代金券2张，价值38棉拖鞋一双</p>
                </div>
            </div>
        </div>
    </div>
    <div class="but"> </div>
</body>
<script src="../list/all_js/scan_code_payment.js"></script>
</html>