<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../fonts/iconfont_centent.css">
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <script src="../mui/js/mui.picker.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/loading.css">
    <script src="../js/loading.js"></script>
    <link rel="stylesheet" href="../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/all_popup.css">
    <link rel="stylesheet" href="../list/all_css/CRM_marketing.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
        <h1 class="mui-title white_color">TAG机制</h1>
    </header>
    <div class="mui-content">
        <div class="mui-row" style="width: 90%; margin-left: auto;margin-right: auto;padding: 20px 0 20px 0;">
            <div class="div_small_y tag_pp"></div>
            <div class="div_small_y tag_pp2"></div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_pk.html?type=机构PK">
                        <span class="iconfont icon-pk span_size"></span>
                        <p>机构PK</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_pk.html?type=门店PK">
                        <span class="iconfont icon-PKrongyubang span_size"></span>
                        <p>门店PK</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_pk.html?type=员工PK">
                        <span class="iconfont   icon-PK-suoke span_size"></span>
                        <p>员工PK</p>
                    </a>
                </li>
            </div>

            <div class="mui-col-xs-12 mui-col-sm-12">
                <div class="div_small_x"></div>
                <br>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_reward.html">
                        <span class="iconfont icon-piao1     span_size"></span>
                        <p>V票奖励</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_exchange.html">
                        <span class="iconfont  icon-piao  span_size"></span>
                        <p>V票兑换</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_query.html">
                        <span class="iconfont icon-chaxun     span_size"></span>
                        <p>V票查询</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-12 mui-col-sm-12">
                <div class="div_small_x"></div>
                <br>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_capital_injection.html">
                        <span class="iconfont icon-gongyijuankuan     span_size"></span>
                        <p>注资乐捐</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_gift_of_securities.html">
                        <span class="iconfont icon-qiaquan1   span_size"></span>
                        <p>卡劵赠送</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_gift_write_off.html">
                        <span class="iconfont icon-hexiao1   span_size"></span>
                        <p>手动核销</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-12 mui-col-sm-12">
                <div class="div_small_x"></div>
                <br>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="###">
                        <span class="iconfont icon-saoma   span_size"></span>
                        <p>扫码核销*</p>
                    </a>
                </li>
            </div>
            <div class="mui-col-xs-4 mui-col-sm-4">
                <li class="mui-table-view-cell transparent">
                    <a href="./TAG_member_services.html">
                        <span class="iconfont icon-jishufuwushang   span_size"></span>
                        <p>会员服务</p>
                    </a>
                </li>
            </div>
        </div>
</body>

</html>