<html>

<head>
    <title>销售订单</title>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="../mui/css/mui.min.css" rel="stylesheet" />
    <script src="../mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../fonts/iconfont_centent.css">
    <link rel="stylesheet" href="../mui/css/mui.picker.min.css">
    <script src="../mui/js/mui.picker.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="../list/all_css/all_bj.css">
    <link rel="stylesheet" href="../list/all_css/all_popup.css">
    <link rel="stylesheet" href="../list/all_css/member_profile.css">
</head>

<body class="suoke">
    <!-- 头部 -->
    <header class="mui-bar mui-bar-nav  white_color suoke_header">
        <h1 class="mui-title white_color">V票奖励</h1>
        <a class="mui-icon mui-icon-back mui-action-back" style="color:white;"></a>
    </header>
    <div class="mui-content">
        <br>
        <div class="me_all">
            <div class="mui-row">
                <div class="mui-col-xs-4 mui-col-sm-4">
                    V票小组:
                </div>
                <div class="mui-col-xs-8 mui-col-sm-8 opop" type="L">
                    请输选择组名
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-xs-4 mui-col-sm-4">
                    奖励人:
                </div>
                <div class="mui-col-xs-8 mui-col-sm-8 opop" type="K">
                    请选择奖励人
                </div>
            </div>

            <div class="mui-row">
                <div class="mui-col-xs-4 mui-col-sm-4" style="line-height: 34px;">
                    奖励数量:
                </div>
                <div class="mui-col-xs-8 mui-col-sm-8">
                    <div class="mui-numbox" data-numbox-min='0'>
                        <!-- "-"按钮，点击可减小当前数值 -->
                        <button class="mui-btn mui-numbox-btn-minus transparent" type="button"
                            style="color: white;">-</button>
                        <input class="mui-numbox-input transparent" type="number" />
                        <!-- "+"按钮，点击可增大当前数值 -->
                        <button class="mui-btn mui-numbox-btn-plus transparent" type="button"
                            style="color: white;">+</button>
                    </div>
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-xs-12 mui-col-sm-12">
                    奖励标准:
                </div>
                <div class="mui-col-xs-12 mui-col-sm-12">
                    <textarea class="card_textarea" name="" id="" cols="30" rows="6"></textarea>
                </div>
            </div>


        </div>
        <br>
        <div class="footerss">
                <div class="all_co_but" onclick="confirm()">
                    确定发送
                </div>
        </div>
    </div>
</body>
<script>
    function confirm() {
        mui.confirm('', '赠送成功', ['确定'], function (el) {
            console.log(9999);
            // location.href = '';
        })
    }
    var cftion = '';
    var cftions = [{
        value: "first",
        text: "v票奖励1"
    }, {
        value: "second",
        text: "v票奖励1"
    }]

    var card = '';
    var cards = [{
        value: "first",
        text: "张三"
    }, {
        value: "second",
        text: "李四"
    }]
    mui(".me_all").on('tap', '.opop', function () {
        let val = this;
        switch (val.getAttribute("type")) {
            case "L":
                let picker1 = new mui.PopPicker();
                picker1.setData(cftions);
                picker1.pickers[0].setSelectedValue(cftion, 2000);
                picker1.show(function (SelectedItem) {
                    console.log(SelectedItem);
                    cftion = SelectedItem[0].value;
                    val.innerHTML = SelectedItem[0].text;
                })
                break;
            default:
                let picker2 = new mui.PopPicker();
                picker2.setData(cards);
                picker2.pickers[0].setSelectedValue(card, 2000);
                picker2.show(function (SelectedItem) {
                    console.log(SelectedItem);
                    card = SelectedItem[0].value;
                    val.innerHTML = SelectedItem[0].text;
                })
                break;
        }


    })
</script>

</html>