	    * {
	    	font-family: "STHeiti", "SimHei";

	    }

	    .suoke:before {
	    	content: ' ';
	    	position: fixed;
	    	z-index: -1;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	left: 0;
	    	background: url(../../images/bj.png) center 0 no-repeat;
	    	background-attachment: fixed;
	    	background-size: cover;

	    }

	    .suoke_header {
	    	background-position: 0px 44px;
	    	/* background: url(../../images/bj.png) center; */
	    	background: url(../../images/bj.png);
	    	background-attachment: fixed;
	    	background-size: cover;
	    	letter-spacing: 2px;
	    }

	    .transparent {
	    	background-color: rgba(0, 0, 0, 0) !important;
	    }

	    .white_color {
	    	color: white !important;
	    }

	    .div_small_x,
	    .div_small_y {
	    	height: 1px;
	    	position: relative;
	    }

	    .div_small_x::after {
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	left: -50%;
	    	width: 200%;
	    	height: 1px;
	    	background: rgba(255, 255, 255, 0.2);
	    	transform: scale(0.5);
	    }

	    .div_small_li li {
	    	margin-top: 15px;
	    }

	    .div_small_li::after {
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	left: -50%;
	    	/* top: 72px; */
	    	width: 200%;
	    	height: 1px;
	    	background: rgba(255, 255, 255, 0.2);
	    	transform: scale(0.5);
	    }

	    .div_small_y::after {
	    	content: "";
	    	display: block;
	    	position: absolute;
	    	left: 50%;
	    	width: 1px;
	    	height: 760px;
	    	top: -201px;
	    	background: rgba(255, 255, 255, 0.2);
	    	transform: scale(0.5);
	    }

	    .display_none {
	    	display: none;
	    }

	    /* 弹出框更改 */
	    .mui-poppicker-body {
	    	background: url(../../images/bj.png);
	    	background-attachment: fixed;
	    	background-size: cover;
	    	box-shadow: 0 8px 40px #FFFFFF;
	    	border-top: solid 0px #ddd;
	    }

	    .mui-popup-input input {
	    	font-size: 14px;
	    	width: 100%;
	    	height: 26px;
	    	margin: 15px 0 0;
	    	padding: 0 5px;
	    	border: 1px solid rgba(255, 255, 255, 0.59);
	    	border-radius: 0;
	    	background: rgba(255, 255, 255, 0);
	    	color: white;
	    }

	    .mui-picker {
	    	background-color: rgba(221, 221, 221, 0);

	    }

	    .mui-poppicker {
	    	border: 0px;
	    	z-index: 1002;
	    }

	    .mui-pciker-list li.highlight {
	    	color: white;
	    	font-size: 20px;
	    }

	    .mui-pciker-rule-ft {
	    	border-top: solid 1px rgba(255, 252, 252, 0.39);
	    	border-bottom: solid 1px rgba(255, 252, 252, 0.39);
	    }

	    .mui-poppicker-header {
	    	background: url(../../images/bj.png);
	    	background-attachment: fixed;
	    	background-size: cover;

	    }

	    .mui-btn-blue,
	    .mui-btn-primary,
	    input[type=submit] {
	    	background-color: rgba(0, 122, 255, 0.76);
	    }

	    .mui-poppicker-header button {
	    	border: 0px;
	    	opacity: 0.8;
	    }

	    .mui-search .mui-placeholder {
	    	right: 10px;
	    	text-align: right;
	    }

	    /* 时间日期 */
	    .mui-dtpicker {
	    	background: url(../../images/bj.png);
	    	background-attachment: fixed;
	    	background-size: cover;
	    	border-top: solid 0px #ccc;
	    	/* box-shadow: 0 8px 40px #FFFFFF;
	    	border-top: solid 0px #ddd; */
	    }

	    .mui-dtpicker-title h5 {
	    	display: inline-block;
	    	width: 20%;
	    	margin: 0;
	    	padding: 8px;
	    	color: white;
	    	text-align: center;
	    	border-top: solid 1px rgba(204, 204, 204, 0.37);
	    	background-color: rgba(240, 240, 240, 0);
	    	border-bottom: solid 1px rgba(204, 204, 204, 0.37);
	    }

	    .mui-dtpicker-header button {
	    	border: 0px;
	    	opacity: 0.8;
	    }

	    /* 懒加载颜色 */
	    .mui-spinner:after {
	    	background-image: url('data:image/svg+xml;charset=utf-8,<svg viewBox=\'0 0 120 120\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\'><defs><line id=\'l\' x1=\'60\' x2=\'60\' y1=\'7\' y2=\'27\' stroke=\'%23fff\' stroke-width=\'11\' stroke-linecap=\'round\'/></defs><g><use xlink:href=\'%23l\' opacity=\'.27\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(30 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(60 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(90 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(120 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.27\' transform=\'rotate(150 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.37\' transform=\'rotate(180 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.46\' transform=\'rotate(210 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.56\' transform=\'rotate(240 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.66\' transform=\'rotate(270 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.75\' transform=\'rotate(300 60,60)\'/><use xlink:href=\'%23l\' opacity=\'.85\' transform=\'rotate(330 60,60)\'/></g></svg>');
	    }

	    .mui-pull {
	    	color: #fff;
	    }

	    .mengban {
	    	position: fixed;
	    	z-index: 1000;
	    	top: 0;
	    	right: 0;
	    	bottom: 0;
	    	left: 0;
	    	background-color: rgba(0, 0, 0, .3);
	    }

	    .jqban {
	    	overflow: hidden;
	    	position: fixed;
	    	padding: 10px;
	    	z-index: 1000;
	    	top: 10%;
	    	right: 5%;
	    	bottom: 10%;
	    	left: 5%;
	    	background: url(../../images/bj.png) center 0 no-repeat;
	    	background-attachment: fixed;
	    	background-size: cover;
	    }

	    /* confirm */
	    .mui-popup.mui-popup-in {
	    	background-position: 0px 44px;
	    	background: url(../../images/bj.png) center;
	    	/* background: url(../../images/bj.png); */
	    	/* background-attachment: fixed; */
	    	background-size: cover;
	    	letter-spacing: 2px;
	    }

	    .mui-popup-inner {
	    	position: relative;
	    	padding: 15px;
	    	border-radius: 13px 13px 0 0;
	    	background: rgba(255, 255, 255, 0);
	    }

	    .mui-popup-button {
	    	background: rgba(255, 255, 255, 0);
	    	color: white;
	    }

	    .mui-popup-title {
	    	font-size: 18px;
	    	font-weight: 500;
	    	text-align: center;
	    	color: white;
	    }

	    .mui-popup-button:after {
	    	background-color: rgba(255, 255, 255, 0.5);
	    }

	    .mui-popup-inner:after {
	    	background-color: rgba(255, 255, 255, 0.5);
	    }

	    /* 标题宽度 */
	    .header_title {
	    	width: 40% !important;
	    	margin-left: auto !important;
	    	margin-right: auto !important;
	    }

	    /* 标题右边文字样式 */
	    .header_right_txt {
	    	float: right;
	    	padding: 3px 15px;
	    	margin-top: 8px;
	    	line-height: 20px;
	    	border: 1px solid rgba(255, 255, 255, 0.322);
	    	border-radius: 5px;
	    }

	    /* 侧滑全部 */
	    .mui-off-canvas-left,
	    .mui-off-canvas-right {
	    	width: 100%;
	    }

	    .header_daohang {
	    	z-index: 9999;
	    	position: fixed;
	    	top: 44px;
	    	color: white;
	    	/* height: 44px; */
	    	width: 100%;
	    	border-top: 1px solid rgba(255, 255, 255, 0.27);
	    	background: url(../../images/bj.png);
	    	background-attachment: fixed;
	    	background-size: cover;
	    	/* box-shadow: 0 8px 40px #FFFFFF; */
	    	/* border-top: solid 0px #ddd; */
	    }

	    /* footers 底部导航 */
	    .footers {
	    	z-index: 9999;
	    	position: fixed;
	    	bottom: 0px;
	    	color: white;
	    	height: 44px;
	    	width: 100%;
	    	border-top: 1px solid rgba(255, 255, 255, 0.27);
	    	background: url(../../images/bj.png);
	    	background-attachment: fixed;
	    	background-size: cover;
	    	/* box-shadow: 0 8px 40px #FFFFFF; */
	    	/* border-top: solid 0px #ddd; */
	    }

	    /* footers 底部导航输入框 */
	    .footers_teach {
	    	position: fixed;
	    	bottom: 46px;
	    	color: white;
	    	width: 100%;
	    	border-top: 1px solid rgba(255, 255, 255, 0.27);
	    }

	    /* 按钮样式 */
	    .button_style::before {
	    	clear: both;
	    }

	    .button_style {
	    	border: 1px solid rgba(255, 255, 255, 0.267);
	    	border-radius: 5px;
	    	padding: 6px 10px 6px 10px;
	    	margin-top: 1%;
	    	line-height: normal;
	    	font-size: 15px;
	    	margin-right: 5px;
	    }

	    .stars {
	    	background: url(../../svg/dg2.svg) no-repeat right 10px center;
	    	background-size: 30px 30px;
	    }

	    .flex-container {
	    	display: -webkit-flex;
	    	display: flex;
	    	-webkit-justify-content: space-around;
	    	justify-content: space-around;
	    	;
	    }

	    textarea {
	    	border: 1px solid rgba(255, 255, 255, 0.2);
	    	background-color: rgba(255, 255, 255, 0);
	    }

	    textarea::-webkit-input-placeholder {

	    	color: rgba(255, 255, 255, 0.726);
	    }

	    /* 使用webkit内核的浏览器 */
	    textarea:-moz-placeholder {

	    	color: rgba(255, 255, 255, 0.726);
	    	;
	    }

	    /* Firefox版本4-18 */
	    textarea::-moz-placeholder {

	    	color: rgba(255, 255, 255, 0.726);
	    	;
	    }

	    /* Firefox版本19+ */
	    textarea:-ms-input-placeholder {

	    	color: rgba(255, 255, 255, 0.726);
	    	;
	    }

	    /* 选择框 */
	    .mui-checkbox input[type=checkbox]:checked:before,
	    .mui-radio input[type=radio]:checked:before {
	    	color: #fdfdfd;
	    }

	    /* 大确定按钮样式 */
	    .all_co_but {
	    	text-align: center;
	    	border-radius: 5px;
	    	width: 80%;
	    	margin: auto;
	    	line-height: 34px;
	    	color: white;
	    	border: 1px solid rgba(255, 255, 255, 0.384);
	    }

	    table.gridtable tr td {
	    	word-wrap: break-word;
	    	word-break: break-all;
	    }