.mui-table-view-cell p:nth-child(1){
    font-size: 18px;
    color: white;
}
.mui-table-view-cell p:nth-child(2) {
    font-size: 15px;
    color: rgb(216, 205, 205);
}
.mui-table-view-cell p:nth-child(2) span:nth-child(2) {
    float: right;
     color: white;
}
.mui-table-view-cell p:nth-child(3) {
    font-size: 15px;
    color: rgb(216, 205, 205);
}

 .labels {
     width: 50% !important;
     padding-left: 0px !important;
 }
 .opop::after {
     content: '\e581';
     position: absolute;
     top: 50%;
     right: 10px;
     display: inline-block;
     font-family: Muiicons;
     font-size: inherit;
     line-height: 1;
     color: rgb(255, 255, 255);
     text-decoration: none;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     -webkit-font-smoothing: antialiased;
 }
.color_bbb {
    color: #D0DFE7;
}
.mui-input-row label {
    width: 39%;
    color: #D0DFE7;
}
input::-webkit-input-placeholder {
    color: #D0DFE7;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #D0DFE7;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #D0DFE7;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #D0DFE7;
}
.mui-input-group:after {
  
    height: 0px;
  
}
.rgbss:after {
    height: 0px !important;
}
#sheet4 {
    height: 100%;
    position: fixed;
    max-height: 300px !important;
    max-width: 76% !important;
    left: 12% !important;
}
#sheet4 p{
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
}
.hudongs{
    padding: 10px 0 10px 0;
    width: 80%;
    margin: 10px auto;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.342);
    text-align: center;
}