body {
    background: #fff;
    font-family: '微软雅黑';
}

.main {
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

span {
    display: inline-block;
}

img {
    width: 30%;
    vertical-align: 0.45em;
}

h3 {
    font-weight: normal;
    letter-spacing: 2px;
    color: #222;
    margin-bottom: 25px;
}

button {
    width: 90%;
    height: 40px;
    margin-top: 20px;
}

.mui-btn {
    border: 1px solid #E8E8E8;
    font-size: 16px;
    letter-spacing: 2px;
}

.mui-btn-success {
    border: 1px solid #22ac38;
    background-color: #22ac38;
}